#page-create-orphanage main .orphanage-details .orphanage-pending-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
    height: 150px;
    border: none;
    box-sizing: border-box;
    border-radius: 0px 0px 20px 20px;
}

#page-create-orphanage main .orphanage-details fieldset .orphanage-pending-buttons .button-decline-orphanage,
#page-create-orphanage main .orphanage-details fieldset .orphanage-pending-buttons .button-accept-orphanage {
    width: 45%;
    height: 65px;

    color: #fff;
    cursor: pointer;

    border: 0;
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;
}

#page-create-orphanage main .orphanage-details fieldset .orphanage-pending-buttons .button-decline-orphanage {
    background: #FF669D;
}

#page-create-orphanage main .orphanage-details fieldset .orphanage-pending-buttons .button-accept-orphanage {
    background: #3CDC8C
}


