.textarea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 100%;
    margin-bottom: 25px;
}

.textarea label{
    font-family: Nunito;
    font-weight: 600;

    color: #8fa7b3;

    padding-bottom: 10px;
}

.textarea label span{
    font-family: Nunito;
    font-size: 14px;

    margin-left: 10px;
    
    color: #8FA7B3;


}

.textarea textarea{
    width: 100%;
    resize: none;

    background: #f5f8fa;
    border: 1px solid #d3e2e5;
    border-radius: 20px
}
